<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  {%- include head.html -%}

  <body>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2K75XNM3T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y2K75XNM3T');
    </script>

    <div class="no-print">
      {%- include header.html -%}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="no-print">
      {%- include footer.html -%}
    </div>
  </body>

</html>
